@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
html, body {
  background-color: #64C676;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html a, body a {
  text-decoration: none;
}

#root {
  overflow-x: hidden;
}

.indexBox {
  width: 100%;
  background-color: #FEFCFC;
  border-radius: 0 0 205px 205px;
}

.mapBox_wrap {
  padding-bottom: 110px;
}
.mapBox_wrap .imgBg {
  width: 100%;
  height: 361px;
  background-image: url(../../public/img/index/searchBox-bg.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mapBox_wrap_content .searchMap_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1086px;
  flex-direction: row;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 3px 13px 30px rgba(0, 0, 0, 0.12);
  border-radius: 67px;
  overflow: hidden;
  padding: 0px 75px;
  position: relative;
  transform: translateY(-60px);
}
.mapBox_wrap_content .searchMap_box .searchMap_item {
  margin: 7px 0px;
  width: 18%;
}
.mapBox_wrap_content .searchMap_box .searchMap_item label {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #2D5363;
  font-weight: 400;
  margin-bottom: 18px;
  padding-left: 10px;
  opacity: 0.8;
}
.mapBox_wrap_content .searchMap_box .searchMap_item select {
  border: 0px;
  font-size: 20px;
  padding-left: 10px;
}
.mapBox_wrap_content .searchMap_box .searchMap_item input {
  border: 0px;
  font-size: 20px;
  padding-left: 10px;
  display: block;
}
.mapBox_wrap_content .searchMap_box .divider {
  width: 2px;
  height: 120px;
  background-color: #eee;
}
.mapBox_wrap_content .searchMap_box .divider:nth-of-type(1) {
  position: relative;
  left: 38px;
}
.mapBox_wrap_content .searchMap_box .divider:nth-of-type(2) {
  position: relative;
  left: 46px;
}
.mapBox_wrap_content .searchMap_box .ico-search {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: #64C676;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: relative;
  left: 54px;
  transition: 0.4s;
}
.mapBox_wrap_content .searchMap_box .ico-search:hover {
  background-color: #2ba542;
  transition: 0.4s;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.mapBox_wrap_content .searchMap_box .ico-search .text {
  display: none;
}
.mapBox_wrap_content .searchMap_box .ico-search i {
  color: #fff;
  padding: 11px;
}
.mapBox_wrap_content .mapBox_intro {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}
.mapBox_wrap_content .mapBox_intro_text {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 400;
  max-width: 890px;
  text-align: center;
  line-height: 2.2em;
}

.aboutUsBox {
  margin-top: 70px;
}
.aboutUsBox .imgDiv {
  min-height: 785px;
}
.aboutUsBox .imgBox {
  max-width: 746px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.aboutUsBox .img-aboutUs {
  overflow: hidden;
  margin: 10px 15px;
}
.aboutUsBox .img-aboutUs img {
  width: 100%;
  border-radius: 42px;
}
.aboutUsBox .imgAB1 {
  width: 25%;
}
.aboutUsBox .imgAB2 {
  width: 25%;
  position: absolute;
  left: 32%;
  top: 63%;
}
.aboutUsBox .imgAB3 {
  width: 30%;
  position: absolute;
  left: 64%;
  top: 1%;
}
.aboutUsBox .imgAB4 {
  width: 46%;
  position: absolute;
  left: 6%;
  top: 168%;
}
.aboutUsBox .imgAB5 {
  width: 25%;
  position: absolute;
  right: 3%;
  top: 168%;
}
.aboutUs_wrap {
  padding: 60px 0px;
}
.aboutUs_textBox {
  text-align: center;
}
.aboutUs_EN {
  font-size: 35px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 54px;
  color: #9BC9DD;
}
.aboutUs_title {
  font-size: 62px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 101px;
  color: #64C676;
}
.aboutUs_content {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 700;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0.03em;
  max-width: 543px;
}

.btn-aboutUs {
  width: 455px;
  background-color: #64C676;
  border-radius: 69px;
  padding: 17px 40px 17px 40px;
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 700;
  color: #FEFCFC;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: 76px;
  transition: 0.5s;
}
.btn-aboutUs i {
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .btn-aboutUs {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.btn-aboutUs .btn_text {
  display: inline-block;
  padding: 14px 0px;
  padding-right: 188px;
  border-right: 1px solid #fff;
  margin-right: 35px;
}
@media (max-width: 768px) {
  .btn-aboutUs .btn_text {
    padding: 0px;
    padding-right: 25px;
  }
}
.btn-aboutUs i {
  font-size: 1.4em;
  position: relative;
  top: 2px;
}
.btn-aboutUs:hover {
  background: #2ba542;
}
.btn-aboutUs:hover i {
  left: 20px;
  transition: all 0.3s ease-in-out;
}

.serviceBg {
  background-color: #64C676;
  padding: 115px 0px 136px 0px;
}
.service_wrap {
  padding: 179px 0px 84px 0px;
}
.service_textBox {
  text-align: left;
}
.service_EN {
  font-size: 35px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 54px;
  color: #FEFCFC;
}
.service_title {
  font-size: 62px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 101px;
  color: #FEFCFC;
}
.service_content {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #FEFCFC;
  font-weight: 400;
  line-height: 38px;
  margin: 85px 0px;
}

.btn-service {
  width: 455px;
  background-color: #FEFCFC;
  border-radius: 69px;
  padding: 17px 40px 17px 40px;
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 700;
  color: #162F3A;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.btn-service i {
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .btn-service {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.btn-service .btn_text {
  display: inline-block;
  padding: 14px 0px;
  padding-right: 188px;
  border-right: 1px solid #fff;
  margin-right: 35px;
}
@media (max-width: 768px) {
  .btn-service .btn_text {
    padding: 0px;
    padding-right: 25px;
  }
}
.btn-service i {
  font-size: 1.4em;
  position: relative;
  top: 2px;
}
.btn-service .btn_text {
  border-right: 1px solid #CDCDCD;
  padding-right: 126px;
}
@media (max-width: 768px) {
  .btn-service .btn_text {
    padding-right: 25px;
  }
}
.btn-service i {
  color: #64C676;
}
.btn-service:hover i {
  left: 20px;
  transition: all 0.3s ease-in-out;
}

.testImg {
  width: 100%;
  height: 607px;
  background-color: #E9F8FF;
  border-radius: 110px;
  text-align: center;
}

.news_wrap {
  margin-top: 55px;
}
.news_wrap a {
  text-decoration: none;
}
.news_wrap .col-lg-4 {
  display: flex;
  justify-content: center;
}
.news_wrap .itemA1 {
  margin-top: calc(2*63px);
}
.news_wrap .itemA2 {
  margin-top: 63px;
}
.news_wrap .itemA4 {
  margin-top: 75px;
}
.news_wrap .itemA5 {
  margin-top: 15px;
}
.news_wrap .itemA6 {
  margin-top: -51px;
}
.news_textBox {
  text-align: left;
}
.news_EN {
  font-size: 35px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 54px;
  color: #9BC9DD;
}
.news_title {
  font-size: 62px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 101px;
  color: #64C676;
}
.news_item {
  background-color: #fff;
  box-shadow: 0px 6px 22px rgba(22, 47, 58, 0.1);
  border-radius: 7px 68px;
  overflow: hidden;
  max-width: 456px;
  transition: 0.6s;
}
.news_item:hover {
  border-radius: 68px;
  transition: 0.6s;
  max-width: 420px;
}
.news_item:hover .btn-more {
  color: #64C676;
  transition: 0.8s;
}
.news_item_bg {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 270px;
}
.news_item_bg.itemBg1 {
  background-image: url(../../public/img/index/img-news1.jpg);
}
.news_item_bg.itemBg2 {
  background-image: url(../../public/img/index/img-news2.jpg);
}
.news_item_bg.itemBg3 {
  background-image: url(../../public/img/index/img-news3.jpg);
}
.news_item_bg.itemBg4 {
  background-image: url(../../public/img/index/img-news4.jpg);
}
.news_item_bg.itemBg5 {
  background-image: url(../../public/img/index/img-news5.jpg);
}
.news_item_bg.itemBg6 {
  background-image: url(../../public/img/index/img-news6.jpg);
}
.news_item_content {
  padding: 32px 45px;
}
.news_item_intro {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 700;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news_item_divid {
  display: inline-block;
  background-color: #64C676;
  width: 73px;
  height: 2px;
}
.news_item_add {
  margin-top: 21px;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #495C64;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
}
.news_item_add span {
  padding: 0 5px;
}
.news_item_textBox {
  background-color: rgba(249, 253, 255, 0.7);
  width: 293px;
  min-height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news_item_textBox_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 66px;
}
.news_item_textBox_type {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #495C64;
  font-weight: 500;
}
.news_item_textBox_title {
  font-size: 27px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 700;
  margin-top: 10px;
}

.moreBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}
.moreBox .btn-more {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 700;
  font-weight: 500;
  transition: 0.8s;
}
.moreBox .btn-more img {
  margin-left: 10px;
  position: relative;
  bottom: 2px;
}

.contactUs_wrap {
  margin-top: 150px;
  padding-bottom: 225px;
}
.contactUs_textBox {
  text-align: center;
}
.contactUs_EN {
  font-size: 35px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 54px;
  color: #9BC9DD;
}
.contactUs_title {
  font-size: 62px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 101px;
  color: #64C676;
}
.contactUs_Box {
  margin-top: 140px;
  padding: 0 109px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactUs_imgBox {
  width: 100%;
  max-width: 704px;
  height: 410px;
  background-repeat: no-repeat;
  background: #FFFFFF;
  background-image: url(../../public/img/index/contactUs-img.svg);
  background-position: center;
  box-shadow: 0px 11px 40px rgba(0, 0, 0, 0.04);
  border-radius: 7px 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactUs_imgBox .imgBox_textBox_sub {
  font-size: 26px;
  font-family: "Noto Sans TC", sans-serif;
  color: #50A960;
  font-weight: 700;
  text-align: center;
}
.contactUs_imgBox .imgBox_textBox_title {
  font-size: 48px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 700;
}
.contactUs_content {
  max-width: 544px;
}
.contactUs_content_text {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.04em;
}

.btn-contactUs {
  width: 455px;
  background-color: #64C676;
  border-radius: 69px;
  padding: 17px 40px 17px 40px;
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  color: #162F3A;
  font-weight: 700;
  color: #FEFCFC;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: 76px;
  transition: all 0.3s ease-in-out;
}
.btn-contactUs i {
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .btn-contactUs {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.btn-contactUs .btn_text {
  display: inline-block;
  padding: 14px 0px;
  padding-right: 188px;
  border-right: 1px solid #fff;
  margin-right: 35px;
}
@media (max-width: 768px) {
  .btn-contactUs .btn_text {
    padding: 0px;
    padding-right: 25px;
  }
}
.btn-contactUs i {
  font-size: 1.4em;
  position: relative;
  top: 2px;
}
.btn-contactUs:hover {
  background: #2ba542;
}
.btn-contactUs:hover i {
  left: 20px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1400px) and (max-width: 1680px) {
  .contactUs_Box {
    padding: 0 50px;
  }

  .contactUs_imgBox {
    margin-right: 35px;
  }
}
@media (max-width: 1400px) {
  .mapBox_wrap .divider {
    display: none;
  }

  .contactUs_Box {
    flex-direction: column;
    margin-top: 45px;
  }

  .contactUs_imgBox {
    min-width: 100%;
  }

  .contactUs_content {
    max-width: 90%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .btn-contactUs {
    margin-top: 55px;
  }
}
@media (max-width: 992px) {
  .news_wrap .itemA2, .news_wrap .itemA3, .news_wrap .itemA4 {
    margin-top: 63px;
  }
  .news_wrap .itemA5, .news_wrap .itemA6 {
    display: none;
  }

  .btn-aboutUs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-aboutUs .btn_text {
    padding-right: 127px;
  }

  .btn-service {
    margin-bottom: 50px;
  }
}
@media (width: 768px) {
  .aboutUsBox .imgDiv {
    min-height: 710px;
  }
  .aboutUsBox .imgAB4 {
    width: 38%;
  }
}
@media (max-width: 768px) {
  .indexBox {
    border-radius: 0 0 136px 136px;
  }

  .rwd_linkBtn {
    width: 100%;
  }

  .mapBox_wrap_content .searchMap_box {
    flex-direction: column;
    padding: 20px 50px;
    border-radius: 50px;
    margin: 0px 20px;
  }
  .mapBox_wrap_content .searchMap_box .ico-search {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    left: 0;
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 1.2px;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  .mapBox_wrap_content .searchMap_box .ico-search .text {
    display: inline-block;
  }
  .mapBox_wrap_content .searchMap_box .ico-search a {
    width: 93%;
    color: #fff;
    text-align: center;
  }
  .mapBox_wrap_content .searchMap_box .searchMap_item {
    width: 100%;
  }

  .aboutUs_wrap .aboutUsBox .imgDiv {
    z-index: 1;
    opacity: 0.2;
    min-height: 100%;
  }
  .aboutUs_wrap .aboutUsBox .aboutUs_content {
    z-index: 2;
    position: relative;
  }

  .contactUs_wrap {
    padding-bottom: 100px;
  }
  .contactUs_wrap .contactUs_Box {
    padding: 0;
  }
}